<div class="admin-title">
    <h2>Blogs</h2>
    <a href="" class="button">+ Add New</a>
  </div>
  
  <ul class="admin-posts">
  
     
      <li>
        <a href="">
            blog title;
        </a>
        <div class="admin-post-controls">
          <a href="" class="btn">Edit</a>
  
          <form action="" method="POST">
            <input type="submit" value="Delete" class="btn-delete btn">
          </form>
  
        </div>
  
      </li>
  
  </ul>